$color-light-gray: #e2e4e6;
$color-glory-twitter: #0076B3;
$color-glory-blue: #111987;
$color-white: #fff;
$color-black: #000;
$color-red: #F44336;
$color-green: #4CAF50;
$color-yellow: #FFEB3B;
$color-background-light-gray: #F6F8FA;
$color-background-dark-gray: #3a3e42;
$navbar-height: 80px;
$font-small: 14px;
$font-regular: 16px;
$font-large: 20px;
$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 16px;
$padding-l: 24px;
$padding-xl: 32px;
$content-width-xl: 1400px;
$content-min-height-xl: 500px;
$btn-height: 48px;
$btn-width: 200px;
