<div class="container">
    <form class="customer-form" [formGroup]="form" (ngSubmit)="handleSaveButton(form)">
        <mat-grid-list class="form-grid" cols="3" rowHeight="90px" gutterSize="32px">
            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input type="text" class="input" matInput [formControl]="productName" placeholder="Product Name">
                    <mat-error *ngIf="productName.hasError('required')">
                         Name is required
                    </mat-error>
                    <mat-error *ngIf="productName.hasError('minlength')">
                        Name must be at least 3 characters long.
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile> 
 
            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input type="text" class="input" matInput [formControl]="description" placeholder="Description">
                    <mat-error *ngIf="description.hasError('required')">
                         Description is required
                    </mat-error>
                    <mat-error *ngIf="description.hasError('minlength')">
                        Description must be at least 3 characters long.
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Image 1</mat-label>
                    <input type="text" class="input" matInput [formControl]="img1" placeholder="Img1">
                    <mat-error *ngIf="img1.hasError('required')">
                        Img1  is required
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Image 2</mat-label>
                    <input type="text" class="input" matInput [formControl]="img2" placeholder="Img2">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Image 3</mat-label>
                    <input type="text" class="input" matInput [formControl]="img3" placeholder="Img3">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Stock</mat-label>
                    <input type="text" class="input" matInput [formControl]="stock" placeholder="Stock">
                    <mat-error *ngIf="stock.hasError('required')">
                        Stock  is required
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input type="text" class="input" matInput [formControl]="price"  placeholder="Price">
                    <mat-error *ngIf="price.hasError('required')">
                        Price is required
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Category</mat-label>
                    <input type="text" class="input" matInput [formControl]="categories"  placeholder="Price">
                    <mat-error *ngIf="categories.hasError('required')">
                        Category is required
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <!-- <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select [formControl]="categories" multiple>
                        <mat-option *ngFor="let category of categoriesList" [value]="category.name">{{category.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="categories.hasError('required')">
                        Groups is required
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile> -->

        </mat-grid-list>
        <div class="btn-container">
            <button mat-raised-button class="btn large"routerLink="/product">Back To List</button>
            <button mat-raised-button class="btn large" type="submit">Save</button>
        </div>
    </form>
  
</div>